.modalMask {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modalBody {
  width: 50%;
  max-width: 500px;
  background: #1d1d1d;
  border-radius: 20px;
  position: relative;
}

.modalHeader {
  padding: 30px;
  border-bottom: 2px solid #262626;
}

.roomTypes {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

.typeBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.typeBox.active {
  background: #262626;
}

.heading {
  margin-bottom: 5px;
}

.subHeading {
  font-size: 18px;
  margin: 10px 0;
  font-weight: bold;
}

.modalFooter {
  padding: 30px;
  text-align: center;
}
.modalFooter h2 {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 20px;
}

.footerButton {
  background: #20bd5f;
  color: #fff;
  display: flex;
  align-items: center;
  width: 200px;
  justify-content: center;
  padding: 7px 10px;
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3vh;
  transition: all 0.3s ease-in-out;
  border: none;
  cursor: pointer;
}

.footerButton:hover {
  background: #13763b;
}

.footerButton span {
  margin-left: 5px;
  font-weight: bold;
}

.footerButton > img{
  width: 35px;
  height: 35px;
}

.closeButton {
  position: absolute;
  right: 3px;
  top: 8px;
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
}
.closeButton > img{
  width: 5%;
  height: 5%;
  background: #FFFFFF;
}
.copyToClipboard {
  width: 95%;
  height: 4vh;
  background-color: rgb(51, 63, 67);
  color: white;
  border-radius: 10px;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.copyBtn{
  border: none;
  border-radius: 15px;
  width: 20%;
  height: 3vh;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
}
.copyBtn:hover{
  background-color: #20bd5f;
}